:root {
  /* --primary: #08032d; */
  --secondary: #dda15e;
  --tertiary: #08032d;
  --dark: #08032d;
  --light: #fefae0;
}

#root {
  --primary: #022f40;
  --secondary: #8e79ba;
  --light: #fff1d0;
  --accent: #f08700;
  --header-height: 100px;
  width: 100%;
  font-family: "Poppins", sans-serif;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

header {
  background-color: var(--primary); /* Example background color */
  color: white; /* Example text color */
  z-index: 1000; /* Ensures the header is above other content */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Optional: adds a shadow */
}

main {
  margin-top: 7rem;
  background-color: var(--light);
}

#aboutMe ul {
  text-align: left;
}

#aboutMe {
  text-align: left;
  background-color: var(--light);
}

footer {
  width: 100%;
  background-color: var(--primary);
  color: white;
  text-align: center;
  padding: 20px 0 30px 0;
}

/* ------------ Portfolio Styling ------------ */

.page-wrapper {
  max-width: 88%;
  margin-left: auto;
  margin-right: auto;
}

.page-section {
  margin: 25px 0;
  padding: 10px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
}

.page-section > h2 {
  flex: 0 0 20%;
  text-align: right;
  padding-right: 15px;
  border-right: 4px solid var(--tertiary);
  font-size: 4vw;
  line-height: 1.1;
  color: var(--tertiary);
}

.page-section > div {
  flex: 0 0 77%;
}

.page-section p {
  margin-bottom: 20px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-item {
  background-color: var(--primary);
  color: var(--tertiary);
  min-height: 150px;
  max-height: 150px;
  flex-basis: calc(50% - 1em);
  display: flex;
  align-items: flex-end;
  padding: 0 0 20px 0;
  margin: 0.5em;
  text-decoration: none;
  background-blend-mode: soft-light;
  background-size: 150%;
  transition: all 0.5s;
  font-size: 0.9rem;
}

/* feature first portfolio item */
.flex-item:first-child {
  min-height: 400px;
  flex-basis: 100%;
}

.flex-item:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.flex-item div {
  background-color: white;
  padding: 8px 10px;
}

.flex-item h3 {
  font-size: 1.6rem;
}

/* portfolio project images */
/* TODO: Add portfolio project images here using background images*/
.react-portfolio {
  background: url("./assets/images/css-maxim-berg-3E2xgrlNXq4-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
}

.plant-app {
  background: url("./assets/images/surf-boliviainteligente--uxO-NqszGE-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.readme-generator {
  background: url("./assets/images/calc-boliviainteligente-Ze0Acs_Z-1M-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
}

.employee-tracker {
  background: url("./assets/images/led-boliviainteligente-JHPI4yQWYSY-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* media queries */

/* media queries for a max-width of 980px */
@media screen and (max-width: 980px) {
  .page-section > h2,
  .page-section > div {
    flex: 0 0 100%;
  }

  .page-section > h2 {
    border-right: none;
    border-bottom: 4px solid var(--primary);
    margin-bottom: 20px;
    padding-bottom: 10px;
    text-align: left;
    font-size: 7vw;
  }
}

/* TODO: add media query for a max-width of 768px */
@media screen and (max-width: 768px) {
  .flex-item:first-child {
    min-height: 200px;
    flex-basis: 100%;
  }
  .flex-item {
    flex-basis: 100%;
    min-height: 200px;
  }
}
