:root {
  --secondary: #dda15e;
  --tertiary: #08032d;
  --dark: #08032d;
  --light: #fefae0;
  --medium: #fbf2b2;
}

#root {
  --primary: #022f40;
  --secondary: #8e79ba;
  --light: #fff1d0;
  --accent: #f08700;
  --header-height: 100px;
  width: 100%;
  font-family: "Poppins", sans-serif;
  background-color: var(--light);
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

header {
  background-color: var(--primary); /* Example background color */
}

main {
  margin-top: 7rem;
}

footer {
  background-color: var(--primary);
  position: fixed;
  bottom: 0;
}
